span{
    color: gray
}
h1{
   color: darkslategrey
}
#frontend {
    color: goldenrod;
}
#para {
    color: gray;
}
#about{
    background-color: lightgrey;
}
header{
    background-color: aqua;

}
ul {
    di
}
img {
   
        width: 100%; /* full-width image */
        max-width: 400px; /* set max-width */
        height: auto; /* maintain aspect ratio */
        border: 2px solid #ccc; /* add a border */
        border-radius: 5px; /* add slight round corners */
      
      
}~